#editor{
    background-color: white;
}

#quill-editor{
    box-sizing: border-box;
    min-height: 400px;
    height: 100%;
    border-radius: 0 0 7px 7px;
}

.ql-toolbar{
    border-radius: 7px 7px 0 0;
}


